body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  font-family: Verdana, Geneva, sans-serif;
}


h1, h2, h3, h4, h5, h6, label, input, button, div, span, p {
  font-family: Verdana, Geneva, sans-serif;
}
